nav{
background-color: beige;
overflow: auto;



}
li{
    display: inline;
    padding-left: 2%;
    float: right;
    margin: 1.5%;

    
    
    
}

.head{
    text-align: center;
    /* margin-top: 3%; */
    background-color: yellow;
    height: 300px;
}

#MainHead{
    
}
